# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod==1.7.1
diffusers  # Укажите версию diffusers
transformers  # Укажите версию transformers
accelerate  # Версия accelerate
torch  # Версия PyTorch с поддержкой CUDA (если CUDA поддерживается на вашем устройстве)
gdown # Для загрузки файлов с Google Drive
hf_transfer # Для работы с Hugging Face Transfer
peft
